<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>interfax</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Proxima%20Nova.css">
    <link rel="stylesheet" href="assets/css/Proxima%20Nova%20Bold.css">
    <link rel="stylesheet" href="assets/css/Proxima%20Nova%20Extrabold.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>
</head>

<body style="overflow: hidden;" onload="tags_random()">
    <div class="d-flex d-sm-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;height: 100vh;">
        <div class="row row-cols-xxl-3" style="border-radius: 30px;margin-left: 2%;margin-right: 2%;">
            <div class="col-auto" style="transform: translateX(0px) translateY(0px);">
                <h1 class="display-4" style="font-family: 'Proxima Nova Extrabold';color: rgb(0,156,166);">Нии</h1>
            </div>
            <div class="col-auto" style="transform: translateX(0px) translateY(0px);">
                <h1 class="display-4" style="font-family: 'Proxima Nova Extrabold';color: rgb(0,156,166);">Интерфакс</h1>
            </div>
            <div class="col-auto" style="transform: translateX(0px) translateY(0px);">
                <h1 class="display-4" style="font-family: 'Proxima Nova Extrabold';color: rgb(0,156,166);">Эфир</h1>
            </div>
            <div class="col-auto" style="transform: translateX(0px) translateY(0px);">
                <h1 class="display-4" style="font-family: 'Proxima Nova Extrabold';color: rgb(0,156,166);">Инфекция</h1>
            </div>
            <div class="col-auto" style="transform: translateX(0px) translateY(0px);">
                <h1 class="display-4" style="font-family: 'Proxima Nova Extrabold';color: rgb(0,156,166);">Александр</h1>
            </div>
            <div class="col-auto" style="transform: translateX(0px) translateY(0px);">
                <h1 class="display-4" style="font-family: 'Proxima Nova Extrabold';color: rgb(0,156,166);">Роспотребнадзор</h1>
            </div>
            <div class="col-auto" style="transform: translateX(0px) translateY(0px);">
                <h1 class="display-4" style="font-family: 'Proxima Nova Extrabold';color: rgb(0,156,166);">Екатеринбургский </h1>
            </div>
            <div class="col-auto" style="transform: translateX(0px) translateY(0px);">
                <h1 class="display-4" style="font-family: 'Proxima Nova Extrabold';color: rgb(0,156,166);">Семён </h1>
            </div>
            <div class="col-auto" style="transform: translateX(0px) translateY(0px);">
                <h1 class="display-4" style="font-family: 'Proxima Nova Extrabold';color: rgb(0,156,166);">Март</h1>
            </div>
            <div class="col-auto" style="transform: translateX(0px) translateY(0px);">
                <h1 class="display-4" style="font-family: 'Proxima Nova Extrabold';color: rgb(0,156,166);">Москва</h1>
            </div>
            <div class="col-auto" style="transform: translateX(0px) translateY(0px);">
                <h1 class="display-4" style="font-family: 'Proxima Nova Extrabold';color: rgb(0,156,166);">Вакцина</h1>
            </div>
            <div class="col-auto" style="transform: translateX(0px) translateY(0px);">
                <h1 class="display-4" style="font-family: 'Proxima Nova Extrabold';color: rgb(0,156,166);">Эхо</h1>
            </div>
            <div class="col-auto" style="transform: translateX(0px) translateY(0px);">
                <h1 class="display-4" style="font-family: 'Proxima Nova Extrabold';color: rgb(0,156,166);">Вирусный</h1>
            </div>
            <div class="col-auto" style="transform: translateX(0px) translateY(0px);">
                <h1 class="display-4" style="font-family: 'Proxima Nova Extrabold';color: rgb(0,156,166);">Понедельник</h1>
            </div>
            <div class="col-auto" style="transform: translateX(0px) translateY(0px);">
                <h1 class="display-4" style="font-family: 'Proxima Nova Extrabold';color: rgb(0,156,166);">Центр</h1>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/scripts.js"></script>
</body>

</html>