<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>interfax</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Proxima%20Nova.css">
    <link rel="stylesheet" href="assets/css/Proxima%20Nova%20Bold.css">
    <link rel="stylesheet" href="assets/css/Proxima%20Nova%20Extrabold.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>
</head>

<body style="overflow-x: hidden;" onload="move()">
    <div style="margin-left: 3%;">
        <div class="row" style="backdrop-filter: blur(3px);position: sticky;top: 0;z-index: 1;background: rgb(0,156,166, 0.5);border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;margin-right: 3%;">
            <div class="col d-xxl-flex align-items-xxl-center">
                <h3 style="font-family: 'Proxima Nova Extrabold';">Загруженные новости</h3>
            </div>
            <div class="col-auto d-xxl-flex justify-content-xxl-center align-items-xxl-center"><button class="btn btn-info shadow-lg" type="button" style="font-size: 18px;font-family: 'Proxima Nova Bold';color: rgb(255,255,255);background: rgb(0,156,166);border-radius: 10px;margin-top: 5%;margin-bottom: 5%;border-left-style: solid;border-left-color: rgb(0,156,166);">Подтвердить&nbsp;<i class="far fa-check-circle"></i>&nbsp;</button></div>
            <div class="col-auto d-lg-flex d-xxl-flex align-items-lg-center justify-content-xxl-center align-items-xxl-center"><button class="btn btn-info shadow-lg" type="button" style="font-size: 18px;font-family: 'Proxima Nova Bold';color: rgb(255,255,255);background: #a60a00;border-radius: 10px;margin-top: 1%;margin-bottom: 1%;border-left-style: solid;">Отмена&nbsp;<i class="far fa-times-circle"></i></button></div>
        </div>
        <div class="d-md-flex align-items-md-center news" style="min-height: 70px;background: rgb(248,239,226);margin-top: 1%;border-left: 4px solid rgb(0,156,166);">
            <h3 style="font-family: 'Proxima Nova';padding-top: 1%;padding-bottom: 1%;padding-right: 2%;padding-left: 2%;width: 90%;">"Дождь" и "Важные истории" признаны в России СМИ-иноагентами<br></h3>
        </div>
        <div class="d-md-flex align-items-md-center news" style="min-height: 70px;background: rgb(248,239,226);margin-top: 1%;border-left: 4px solid rgb(0,156,166);">
            <h3 style="font-family: 'Proxima Nova';padding-top: 1%;padding-bottom: 1%;padding-right: 2%;padding-left: 2%;width: 90%;">"Дождь" и "Важные истории" признаны в России СМИ-иноагентами<br></h3>
        </div>
        <div class="d-md-flex align-items-md-center news" style="min-height: 70px;background: rgb(248,239,226);margin-top: 1%;border-left: 4px solid rgb(0,156,166);">
            <h3 style="font-family: 'Proxima Nova';padding-top: 1%;padding-bottom: 1%;padding-right: 2%;padding-left: 2%;width: 90%;">"Дождь" и "Важные истории" признаны в России СМИ-иноагентами<br></h3>
        </div>
        <div class="d-md-flex align-items-md-center news" style="min-height: 70px;background: rgb(248,239,226);margin-top: 1%;border-left: 4px solid rgb(0,156,166);">
            <h3 style="font-family: 'Proxima Nova';padding-top: 1%;padding-bottom: 1%;padding-right: 2%;padding-left: 2%;width: 90%;">"Дождь" и "Важные истории" признаны в России СМИ-иноагентами<br></h3>
        </div>
        <div class="d-md-flex align-items-md-center news" style="min-height: 70px;background: rgb(248,239,226);margin-top: 1%;border-left: 4px solid rgb(0,156,166);">
            <h3 style="font-family: 'Proxima Nova';padding-top: 1%;padding-bottom: 1%;padding-right: 2%;padding-left: 2%;width: 90%;">"Дождь" и "Важные истории" признаны в России СМИ-иноагентами<br></h3>
        </div>
        <div class="d-md-flex align-items-md-center news" style="min-height: 70px;background: rgb(248,239,226);margin-top: 1%;border-left: 4px solid rgb(0,156,166);">
            <h3 style="font-family: 'Proxima Nova';padding-top: 1%;padding-bottom: 1%;padding-right: 2%;padding-left: 2%;width: 90%;">"Дождь" и "Важные истории" признаны в России СМИ-иноагентами<br></h3>
        </div>
        <div class="d-md-flex align-items-md-center news" style="min-height: 70px;background: rgb(248,239,226);margin-top: 1%;border-left: 4px solid rgb(0,156,166);">
            <h3 style="font-family: 'Proxima Nova';padding-top: 1%;padding-bottom: 1%;padding-right: 2%;padding-left: 2%;width: 90%;">"Дождь" и "Важные истории" признаны в России СМИ-иноагентами<br></h3>
        </div>
        <div class="d-md-flex align-items-md-center news" style="min-height: 70px;background: rgb(248,239,226);margin-top: 1%;border-left: 4px solid rgb(0,156,166);">
            <h3 style="font-family: 'Proxima Nova';padding-top: 1%;padding-bottom: 1%;padding-right: 2%;padding-left: 2%;width: 90%;">"Дождь" и "Важные истории" признаны в России СМИ-иноагентами<br></h3>
        </div>
        <div class="d-md-flex align-items-md-center news" style="min-height: 70px;background: rgb(248,239,226);margin-top: 1%;border-left: 4px solid rgb(0,156,166);">
            <h3 style="font-family: 'Proxima Nova';padding-top: 1%;padding-bottom: 1%;padding-right: 2%;padding-left: 2%;width: 90%;">"Дождь" и "Важные истории" признаны в России СМИ-иноагентами<br></h3>
        </div>
        <div class="d-md-flex align-items-md-center news" style="min-height: 70px;background: rgb(248,239,226);margin-top: 1%;border-left: 4px solid rgb(0,156,166);">
            <h3 style="font-family: 'Proxima Nova';padding-top: 1%;padding-bottom: 1%;padding-right: 2%;padding-left: 2%;width: 90%;">"Дождь" и "Важные истории" признаны в России СМИ-иноагентами<br></h3>
        </div>
        <div class="d-md-flex align-items-md-center news" style="min-height: 70px;background: rgb(248,239,226);margin-top: 1%;border-left: 4px solid rgb(0,156,166);">
            <h3 style="font-family: 'Proxima Nova';padding-top: 1%;padding-bottom: 1%;padding-right: 2%;padding-left: 2%;width: 90%;">"Дождь" и "Важные истории" признаны в России СМИ-иноагентами<br></h3>
        </div>
        <div class="d-md-flex align-items-md-center news" style="min-height: 70px;background: rgb(248,239,226);margin-top: 1%;border-left: 4px solid rgb(0,156,166);">
            <h3 style="font-family: 'Proxima Nova';padding-top: 1%;padding-bottom: 1%;padding-right: 2%;padding-left: 2%;width: 90%;">"Дождь" и "Важные истории" признаны в России СМИ-иноагентами<br></h3>
        </div>
        <div class="d-md-flex align-items-md-center news" style="min-height: 70px;background: rgb(248,239,226);margin-top: 1%;border-left: 4px solid rgb(0,156,166);">
            <h3 style="font-family: 'Proxima Nova';padding-top: 1%;padding-bottom: 1%;padding-right: 2%;padding-left: 2%;width: 90%;">"Дождь" и "Важные истории" признаны в России СМИ-иноагентами<br></h3>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/scripts.js"></script>
</body>

</html>